doctype html
html
    head
        title Dance website 
        block scripts 
        block styles
    body 
        ul#nav
            #logo 
                img(src="/static/Dance_Logo.jpg", alt="")
                h4 Dance 
            li 
                a(href='/') Home
            li 
                a(href='/') About
            li 
                a(href='/contact') Contact
            li 
                a(href='/') Services
        block content 
            
        footer#footer 
            | Copyright @2023 Yashraj.com | All rights reserved