extends base.pug

block styles
    style
      include ../static/style.css

block scripts 
    script
        include ../static/script.js

block content 
    div#contact
        h2#heading Contact page
        form(action="/contact", method="post" class="form") 
            input(type="text", class = "myInput", name = "name", placeholder = "Enter your name")  
            input(type="phone", class = "myInput", name = "phone", placeholder = "Enter your Phone")  
            input(type="email", class = "myInput", name = "email", placeholder = "Enter your email")  
            input(type="text", class = "myInput", name = "address", placeholder = "Enter your address")  
            button(type="submit" id="submit") Submit